* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(17, 167, 37);
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: lightblue;
}

#container {
    width: 50%;
    margin: auto;
    background-color: aqua;
    border-radius: 20px;
}

ul {
    margin: 10px 50px;
}

ul li {
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 20px;
}

li:hover {
    cursor: pointer;
}

span {
    margin-left: 10px;
    color: red;
}

input {
    margin: 20px 10px 10px 50px;
    border-color: black;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
}

button {
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
}

.textline {
    text-decoration: line-through;
}